<div class="contact">
  <div class="contact2 w-100 m-auto text-center mb-5">
    <h2 class="text-uppercase mb-3 fs-1 fw-bolder">contact section</h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="line m-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line m-3"></div>
    </div>
  </div>

  <div class="container ">
    <form class="w-50 p-3 mx-auto mt-5 mb-5  ng-pristine ng-valid ng-touched">
      <div class="mb-3">
        <label for="userName" class="form-label">userName</label>
        <input type="text" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched" name="userName" placeholder="userName" >
      </div>
      <div class="mb-3">
        <label for="userAge" class="form-label ">userAge</label>
        <input type="text" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched" name="userAge" placeholder="userAge" >
      </div>
      <div class="mb-3">
        <label class="form-label" for="userEmail">userEmail</label>
        <input type="email" class="form-control border-0  border-bottom py-3 position-relative ng-pristine ng-valid ng-touched" name="userEmail" placeholder="userEmail" >

      </div>
      <div class="mb-3">
        <label class="form-label" for="userPassword">userPassword</label>
        <input type="password" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched" name="userPassword" placeholder ="userPassword">

      </div>
      <button type="submit" class="btn">send Message</button>
    </form>

  </div>

</div>
